---
import { Image } from "astro:assets";
import songImg from "../assets/songImg.jpg";

interface Props {
  song: {
    id: number;
    titulo: string;
    artista: string;
    album: string;
    fecha: string;
    duracion: string;
  };
  index: number;
}

const { song, index } = Astro.props;


---

<div class="flex w-full items-center py-2 self-">
  <p class="flex-1">{index + 1}</p>
  <div class="flex-1 flex items-center gap-2">
    <Image src={songImg} class="rounded" alt="songimg" width={50} height={50} />
    <p class="flex flex-col">
      {song.titulo}
      <span class="opacity-50">{song.artista}</span>
    </p>
  </div>
  <p class="flex-1 opacity-50">{song.album}</p>
  <p class="flex-1 opacity-50">{song.fecha}</p>
  <p class="flex-1 opacity-50">{song.duracion}</p>
</div>
